@use 'rules';
@use 'variaveis';

.header {
    background-color: variaveis.$corDeFundo;

    &__container {


        h1 {
            color: variaveis.$corDoTitulo;
            font-family: 'grafite', sans-serif;
            text-align: center;
            font-size: 5em;
            padding: 6px;
            width: 40vw;
            max-width: 100%;
            margin: 0px auto;
            border: solid 1px transparent;
            border-radius: 0px;
            transition: border-color .5s ease, border-radius .5s ease;

            &:hover {
                border-color: #000;
                border-radius: 8px;
            }
        }
    }

    .nav {

        &__links {
            margin: 18px auto;

            &__item {
                text-align: center;
            }
        }
    }
}

.main {

    h2 {
        padding: 10px;
        width: 100%;
        margin: 10px;
        border-radius: 4px;
        background: linear-gradient(to right, variaveis.$corDeFundo, transparent);
        color: variaveis.$corDoSubTitulo;
    }

    &__articles {

        p {
            margin: 0px 28px;
            text-indent: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            text-decoration: none;
            color: variaveis.$corDosLinks;
        }

        small {
            margin-left: 18px;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 25vw);


            &__item {

                h3 {
                    padding: 10px;
                    margin: 10px;
                    font-size: 1.8em;
                    color: variaveis.$corDoSubTitulo;
                    text-decoration: underline;
                }

                p {
                    margin-left: 20px;
                    text-indent: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                }

                img {
                    display: block;
                    margin: 0px auto;
                    width: 250px;
                }
            }
        }
    }
}

.footer {

    h3 {
        color: variaveis.$corDoSubTitulo;
        text-align: center;
        margin: 24px 0px;
        font-size: 2em;
    }

    &__container {

        p {
            text-align: center;
        }

        &__cadastro {
            display: block;

            &__item {
                text-align: center;
                margin: 22px 0px;

                input {
                    width: 50vw;
                    padding: 8px;
                    border: solid 1px #000;
                }
            }



            button {
                display: block;
                border: none;
                border-radius: 4px;
                background-color: variaveis.$corDeFundo;
                padding: 8px;
                margin: 10px auto;
                width: 50vw;
            }
        }
    }

    .img-sociais {
        display: flex;
        justify-content: space-evenly;

        &__item {

            a {

                img {
                    width: 70px;
                    margin: 8px 0px;
                }
            }
        }
    }
}